<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.iolist.config.dao.DeptDao">
	<select id="getMaxDCode" resultType="String">
		select max(d_code) from tbl_dept
	</select>

	<select id="selectAll" resultType="DeptDTO">
		select * from tbl_dept
	</select>
	
	<select id="findById" resultType="DeptDTO">
		select * from tbl_dept
		where d_code = #{d_code}
	</select>
	
	<select id="findByName" resultType="DeptDTO">
		select * from tbl_dept
		where d_name like '%' || #{d_name} || '%'
	</select>
	<select id="findByCEO" resultType="DeptDTO">
		select * from tbl_dept
		where d_ceo like '%' || #{d_name} || '%'
	</select>
	
	<select id="findByNameAndCEO" resultType="DeptDTO">
		select * from tbl_dept
		where d_name like '%' || #{d_name} || '%' and d_ceo like '%' || #{d_ceo} || '%'
	</select>
	
	<insert id="insert">
		insert into tbl_dept(D_CODE, D_NAME, D_CEO, D_TEL, D_ADDR)
		values (#{d_code}, #{d_name}, #{d_ceo}, #{d_tel}, #{d_addr})
	</insert>
	<update id="update">
		update tbl_dept
		set
			D_NAME = #{d_name},
			D_CEO = #{d_ceo},
			D_TEL = #{d_tel},
			D_ADDR = #{d_addr}
		where D_CODE = #{d_code} 
	</update>
	<delete id="delete">
		delete from tbl_dept
		where d_code = #{d_code}
	</delete>
	
	<select id="findBySName" resultType="DeptDTO">
		select D_CODE, D_NAME, D_CEO, D_TEL, D_ADDR from tbl_dept
		where d_name = #{d_name}
	</select>
	
</mapper>