<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.biz.iolist.config.dao.ProductDao">

	<select id="getMaxPCode" resultType="String">
		select max(p_code) from tbl_product
	</select>

	<select id="selectAll" resultType="ProductDTO">
		select * from tbl_product
	</select>
	
	<select id="findById" resultType="ProductDTO">
		select * from tbl_product
		where p_code = #{p_code}
	</select>
	
	<select id="findByName" resultType="ProductDTO">
		select * from tbl_product
		where p_name like '%' || #{p_name} || '%'
	</select>
	
	<insert id="insert">
		insert into tbl_product(P_CODE, P_NAME, P_IPRICE, P_OPRICE, P_VAT)
		values (#{p_code}, #{p_name}, #{p_iprice}, #{p_oprice}, #{p_vat})
	</insert>
	<update id="update">
		update tbl_product
		set
			P_NAME = #{p_name},
			P_IPRICE = #{p_iprice},
			P_OPRICE = #{p_oprice},
			P_VAT = #{p_vat}
		where P_CODE = #{p_code} 
	</update>
	<delete id="delete">
		delete from tbl_product
		where p_code = #{p_code}
	</delete>
	
	<select id = "findByIPrice" resultType="ProductDTO">
		select P_CODE, P_NAME, P_IPRICE, P_OPRICE, P_VAT from tbl_product
		where p_iprice = between #{sprice} and #{eprice}
	</select>
	<select id="findBySName" resultType="ProductDTO">
		select P_CODE, P_NAME, P_IPRICE, P_OPRICE, P_VAT from tbl_product
		where p_name = #{p_name}
	</select>
</mapper>